<div class="container" data-controller="display-recipes">
  <h1>Index of recipe</h1>

  <%= form_tag recipes_path, method: :get do %>
    <%= text_field_tag :ingredients,
      params[:ingredients],
      class: "form-control",
      placeholder: "Type or ingredients"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="display">
    <% @recipes.each do |recipe| %>
      <div class="card">
        <%= image_tag "#{recipe['url']}" %>
        <h3><%= recipe['title'] %></h3>
        <p><%= recipe['likes'] %></p>
      </div>
    <% end %>
  </div>
</div>
