<div class="complete-page"></div>
  <div class="container">
    <div class="d-flex profile-container">
      <div class="sidebar">
        <div class="avatar-profile d-flex justify-content-center p-3">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "user-image", alt: "user-image" %>
          <% else %>
            <%= image_tag "avatar.png", class: "user-image", alt: "avatar" %>
          <% end %>
        </div>
        <h2><%= @user.name %></h2>
        <%# <a class="sidebar-option" href="#myprofile">My Profile</a>
        <a class="sidebar-option" href="#myrecipes">My Recipes</a> %>
        <%= link_to "My recipes", user_path(@current_user), class:"sidebar-option" %>
        <%= link_to "My fridge", show_fridge_path(@current_user), class:"sidebar-option" %>
      </div>

      <div class="content">

        <div class="flex-about mb-3">
          <div class="about-info">
            <h1>Favorite recipes</h1>
          </div>
          <div class="about-image">
          </div>
        </div>


          <!-- Podem mexer a vontade nos cards, eu só queria ver se as infos estavam todas certas -->
          <!-- style: _card.scss -->
        <% unless current_user.favorites.count == 0 %>
          <div class="fav-recipes">
            <% current_user.favorites.each do |favorite| %>
              <div class="card-product my-3">
                <img src="<%= favorite.recipe.image %>" />
                <div class="card-product-infos">
                  <h2><%= favorite.recipe.name %></h2>
                  <p>"<%= sanitize favorite.recipe.description %>..."</p>
                  <div class="icons">
                    <p><%= favorite.recipe.likes %> <i class="fas fa-thumbs-up"></i></p>
                    <p><%= favorite.recipe.prep_time %> minutes</p>
                    <p>Serves <strong><%= favorite.recipe.likes %></strong> people</i></p>
                  </div>
                  <div class="end-card pt-1">
                    <a href="<%=sanitize favorite.recipe.url%>" target="_blank", style="color: #728f72;">Go to recipe's website</a> |
                    <%= link_to "Remove from favorites", favorite_path(favorite),
                                          method: :delete,
                                          data: { :confirm => 'Are you sure?'},
                                          style: "color: #DD4A48;" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="no-recipes-profile">
            <h3 class="no-recipes-message">Seems you haven't added any recipes yet...</h3>
            <%= link_to "Find a recipe!", pages_path, class: "find-recipe-button" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
