<div class="container">
  <div class="d-flex">
    <div class="sidebar">
      <div class="avatar-profile d-flex justify-content-center p-3">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/krokrob", class: "user-image", alt: "user-image" %>
      </div>
      <h1><%= @user.name %></h1>
      <a href="#myprofile">My Profile</a>
      <a href="#myrecipes">My Recipes</a>
      <a href="#myfridge">My Fridge</a>
    </div>

    <div class="content">

      <div class="flex-about">
        <div class="about-info">
          <h1>About me</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <a class="btn-edit-profile" href="#">Edit</a>
        </div>
        <div class="about-image">
        </div>
      </div>

      <div class="fav-recipes mb-5">
        <h1>Favorite recipes</h1>

        <!-- Podem mexer a vontade nos cards, eu só queria ver se as infos estavam todas certas -->
        <!-- style: _card.scss -->
        <% unless current_user.favorites.count == 0 %>
          <% current_user.favorites.each do |favorite| %>
          <div class="card-product my-2">
            <img src="<%= favorite.recipe.image %>" />
            <div class="card-product-infos">
              <h2><%= favorite.recipe.name %></h2>
              <p>"<%= sanitize favorite.recipe.description %>..."</p>
              <div class="icons">
                <p><%= favorite.recipe.likes %> <i class="fas fa-thumbs-up"></i></p>
                <p><%= favorite.recipe.prep_time %> minutes</p>
                <p>Serving <strong><%= favorite.recipe.likes %></strong> people</i></p>
              </div>
              <div class="end-card">
                <a href="<%=sanitize favorite.recipe.url%>" target="_blank">Go to website</a> |
                <%= link_to "delete", favorite_path(favorite),
                                      method: :delete,
                                      data: { :confirm => 'Are you sure?'},
                                      style: "color: red;" %>
              </div>
            </div>
          </div>
          <% end %>
        <% else %>
          <p style="color: red;">You didn't add any recipes yet...</p>
        <% end %>
      </div>
    <!--------------------------- My Fridge ----------------------------------->
    <h2>My Fridge:</h2>
    <div data-fridge-target="ingredients">
      <% current_user.fridges.each do |fridge| %>
        <div class="btn btn-primary btn-sm mb-1 button-ingredient" >
          <%= fridge.ingredient.name %>
          <div class="button-delete rounded-circle">
            <%= link_to "x",
                        fridge_path(fridge),
                        method: :delete,
                        data: { :confirm => 'Are you sure?'},
                        style: "color: white;" %>
          </div>
        </div>
      <% end %>
    </div>


    <p>Add the ingredients you have in your house:</p>

    <div data-controller="display-recipes fridge">
      <div class="categories-container pb-0">
        <% @categories.each do |category| %>
          <div class="card-category mb-2 p-1">
            <div class="card-category-header">
              <h2><%= category.name %></h2>
            </div>
            <div class="card-body">
              <% category.ingredients.first(10).each do |i|%>
                <span class="btn btn-outline-primary btn-sm mb-1" data-display-recipes-target="ingredient"
                                                                  data-fridge-target="ingredient"
                                                                  data-action="click->display-recipes#activate">
                  <%= i.name %>
                </span>
              <%end%>
            </div>
          </div>
        <% end %>
      </div>

      <%= form_tag fridges_path(ingredient: params[:ingredient]),
                                method: :post,
                                class: "d-grid search-recipes",
                                data: { action: "submit->fridge#buildQuery",
                                fridge_target: "form" }  do %>
        <%= text_field_tag :ingredients,
            nil,
            type: :hidden,
            data: { fridge_target: "input" }%>
        <%= submit_tag "Add to your fridge", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
