<!-- Modal -->
<div class="modal fade" id="staticBackdrop<%= recipe['id'] %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop<%= recipe['id'] %>Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div >
          <%= image_tag recipe['image'], class: "img-header-modal" %>
        </div>

        <div class="text-header-modal">
          <h3 class="modal-title" id="staticBackdrop<%= recipe['id'] %>Label"><%= recipe['title'] %></h3>
        </div>
        <div class="btn-header-modal d-flex alig-self-start">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="modal-icons d-flex justify-content-around">
          <p data-show-details-target="likes" class="like-modal"></p>|
          <p data-show-details-target="serving"></p>|
          <p data-show-details-target="minutes"></p>
        </div>
          <p data-show-details-target="summary" class="summary-modal"></p>
          <div class="submit-recipes-modal d-flex justify-content-center">

              <p data-show-details-target="url" class="btn-modal"><br></p>

          </div>

      </div>
      <div class="ingredients-list d-flex justify-content-around">
        <div class="used">
          <p class="youhave-modal"><strong>You have:</strong></p>
          <% recipe['usedIngredients'].each do |ingredient|%>
            <p class="youhave-modal"><%= ingredient['name'] %></p>
          <% end %>
        </div>
        <div class="missing">
          <p class="missing-modal"><strong>Missing:</strong></p>
            <% recipe['missedIngredients'].each do |ingredient|%>
              <p class="missing-modal"><%= ingredient['name'] %></p>
            <% end %>
        </div>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      -->
    </div>
  </div>
</div>
