<% if @recipes  %>
  <% @recipes.each do |recipe| %>
    <div class="card col-4 col-sm-8 m-1 fit-content" style="width: 18rem;" data-controller="show-details" data-show-details-target="card">
      <%= image_tag recipe['image'], class: "card-img-top" %>
      <div class="card-body d-flex flex-column">
      <div class="title-recipes-card d-flex  justify-content-center">
        <a href="#" class="card-title" data-bs-toggle="modal"
                                       data-bs-target="#staticBackdrop<%= recipe['id'] %>"
                                       data-action="click->show-details#show">
          <%= recipe['title'] %>
        </a>
        <span hidden data-show-details-target="id"><%= recipe['id'] %></span>
      </div>


        <div class="favorites-icons d-flex">
          <p class="card-text">
            <% if recipe['missedIngredientCount'].zero? %>
              <%= "all ingredients used" %>
            <% else %>
              <%= "missing #{recipe['missedIngredientCount']} ingredients" %>
            <% end %>
          </p>
          <% if user_signed_in? %>
            <% if current_user.recipes.pluck(:spoon_id).include?(recipe['id']) %>
              <%= link_to favorite_path(recipe: recipe), method: :delete,
                                                    remote: true do %>
                <i class="fas fa-solid fa-heart heart-icon" data-action='click->favorite#save' data-favorite-target="heart"></i>
              <% end %>
            <% else %>
              <%= link_to favorites_path(recipe: recipe), method: :post,
                                                          remote: true do %>
                <i class="fas fa-solid fa-heart heart-icon heart-icon-inactive" data-action='click->favorite#save' data-favorite-target="heart"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <i class="fas fa-solid fa-heart heart-icon heart-icon-inactive"></i>
            <% end %>
          <% end %>
        </div>

        <!-- MODAL -->
        <%= render 'modal', recipe: recipe, remote: true %>

        <div class="more-info d-none">
          <!-- data-show-details-target="info" -->
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to user_path(current_user), style: "text-decoration:none; color: #000;" do %>
      <div class="flash flash-success alert alert-dismissible fade show d-none" role="alert" data-favorite-target="alert">
        <span><strong>Saved!</strong> ❤️ You favorite this recipe in your profile page</span>
        <a data-action='click->favorite#close'>
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <div class="flash flash-warning alert alert-dismissible fade show d-none" role="alert" data-favorite-target="duplicate">
      <span>Recipe successfully <strong>removed</strong> from your favorites!</span>
      <a data-action='click->favorite#close'>
        <i class="fas fa-times"></i>
      </a>
    </div>
  <% end %>
<% end %>
