<%# ------------- Banner ------------- %>

<div class="container-home">
    <div class="text-banner col-8">
      <h1>What The Food - Find your recipe</h1>
      <p>We'll find the perfect recipe for the ingredients you have!</p>
      <%= link_to pages_path do %>
        <button class="btn btn-home">Find your recipe</button>
      <% end %>
    </div>

</div>

<%# ------------- Cicles ------------- %>

  <div class="container-cicles">

      <div class="link-cicles col-6">
        <div class="link-container row justify-content-end align-items-center ">
          <%# <% link_to "#" do %>
            <div class=" col-4">
              <a href="#">
                <div class="link-cicle-start"></div>
              </a>
            </div>
          <%# <% end %>
        </div>
        <div class="link-container link-container-center row justify-content-center">
          <%# <% link_to "#" do %>
            <div class="col-6">
              <a href="#">
                <div class="link-cicle link-cicle-center"></div>
              </a>
            </div>
          <%# <% end %>
        </div>
        <div class="link-container row justify-content-end align-items-end">
          <%# <% link_to "#" do %>
            <div class=" col-4">
              <a href="#">
                <div class="link-cicle-end"></div>
              </a>
            </div>
          <%# <% end %>
        </div>
      </div>
      <div class="cicles-text d-flex align-items-center col-6">
      <div class="text-header-ingredients d-flex justify-content-center align-items-center col-8">
          <h2 class="mt-2" data-controller="typed-js"></h2>
        </div>

          <%# <h4 class="text-cicle-start">First You can sign up for What the food and manage your fridge</h4><br><br>
          <h4 class="text-cicle-center">You can Find your recipes with the ingredients you have</h4><br><br>
          <h4 class="text-cicle-end">And Lastly you can favorite your most loved recipes</h4> %>

        </div>
      </div>

  </div>

  <%# ------------- About Us ------------- %>

<div class="banner" id="about">
  <div class="container-aboutus">
    <h2>About us</h2><br>
    <h3>Le Wagon students <strong>passionate</strong> about programming and ideas <strong>change the world</strong>!</h3><br>
    <p>We are students driven by curiosity and the desire to apply our ideas to the world. This is our first project, developed with a lot of passion and dedication to reach you</p>
  </div>
</div>

<%# ------------- carousel ------------- %>

<div id="carouselExampleCaptions" class="carousel slide carousel-home" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner carousel-card">
    <div class="carousel-item active">
      <div class="card-trip">
        <%= image_tag "bg13.jpg" %>
        <div class="card-trip-infos d-flex justify-content-center">
          <div class="d-flex">
            <div class="card-info-container"></div>
            <div class="text-carousel-card">
            <h2>David</h2>
            <p>Student, curious for new recipes </p>
            </div>

          </div>
          <%= image_tag "person2.jpg", class: "card-trip-user avatar-bordered"  %>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block carousel-text">
        <h5>changed my life</h5>
        <p>What the Food helped me a lot" I have a busy life and now I can make good recipes with what I have at home</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-trip">
         <%= image_tag "bg13.jpg" %>
        <div class="card-trip-infos d-flex justify-content-center">
          <div class="d-flex">
            <div class="card-info-container"></div>
            <div class="text-carousel-card" >
            <h2>Alécio</h2>
            <p>Programmer, passionate about cooking</p>
            </div>

          </div>
          <%= image_tag "alecio.jpg", class: "card-trip-user avatar-bordered"  %>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block carousel-text">
        <h5>Incredible experience</h5>
        <p>My experience could not have been better with What the Food</p>
      </div>
    </div>

    <div class="carousel-item">
      <div class="card-trip">
         <%= image_tag "bg13.jpg" %>
        <div class="card-trip-infos d-flex justify-content-center">
          <div class="d-flex">
            <div class = "text-carousel-card">
            <h2>Julie</h2>
            <p>Nutritionist, committed to good nutrition</p>
            </div>

          </div>
          <%= image_tag "person1.jpg", class: "card-trip-user avatar-bordered"  %>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block carousel-text">
        <h5>I loved my fridge</h5>
        <p>I loved having my fridge on What the Food! Now my searches for recipes are personalized</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
