<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= current_user.email if user_signed_in? %>
  <% if user_signed_in? %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'login', user_session_path %>
  <% end %>


    <% @categories.each do |category| %>
      <div class="card">
        <div class="card-header">
          <h2><%= category.name %></h2>
        </div>
        <% category.ingredients.first(10).each do |i|%>
        <div class="card-body">
          <div>
          <span><%= i.name %>,</span>
          </div>
        </div>
          <%end%>
      </div>
    <% end %>
