<div class="container py-1">
  <div class="row">
    <div class="col-3">
      <div class="pantry-header">
        <h2> Ingredients</h2>

        <%= form_tag pages_path, method: :get, class: "d-flex pantry-search-bar" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "add/remove ingredients"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>

        <% if @ingredients %>
          <div class="d-flex searched-ingredients">
            <% @ingredients.each do |i| %>
              <span class="btn btn-primary"><%= i.name %></span>
            <% end %>
          </div>
        <% end %>
      </div>

      <div>
        <% @categories.each do |category| %>
          <div class="card-category mb-2 p-1">
            <div class="card-category-header">
              <h2><%= category.name %></h2>
            </div>
            <div class="card-body">
              <% category.ingredients.first(5).each do |i|%>
                <span class="btn btn-primary btn-sm mb-1"><%= i.name %></span>
              <%end%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-9">
    </div>
  </div>
</div>
