<div class="page-container" data-controller="search-ingredients">
  <div class="row d-flex" data-controller="display-recipes" >
    <div class=" sidebar-ingredients col-4">
      <div class="pantry-header">
        <h2> Ingredients</h2>

        <%= form_tag pages_path, method: :get, class: "d-flex pantry-search-bar", data: { action: "submit->search-ingredients#search", search_ingredients_target: "form" }, remote: true do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control form-control-ingredients",
            data: { search_ingredients_target: "input" },
            placeholder: "add/remove ingredients"
          %>
          <%= submit_tag "Search", class: "btn-header-ingredients btn" %>
        <% end %>

        <div class="searched-ingredients" data-search-ingredients-target="ingredients">
        </div>
      </div>
    </div>
    <div class="text-header-ingredients d-flex justify-content-center align-items-center col-8">
      <h2 class="mt-2" data-controller="typed-js"></h2>
    </div>
  </div>

        <%# -------------Categories------------- %>
  <div class="row d-flex" data-controller="display-recipes">
    <div class="categories-container col-4 pb-0">
      <% @categories.each do |category| %>
        <div class="card-category mb-3 p-1">

          <div class="card-category-header back d-flex justify-content-center align-items-center ">

            <h2><%= category.name %></h2>

          </div>
          <div class="card-body">
            <% category.ingredients.first(10).each do |i|%>
              <span class="btn btn-ingredients btn-outline-success btn-sm mb-1" data-display-recipes-target="ingredient" data-search-ingredients-target="ingredient" data-action="click->display-recipes#activate">
                <%= i.name %>
              </span>
            <%end%>
          </div>
        </div>
      <% end %>
    </div>


        <%# -------------Categories------------- %>
    <div class="col-8 container-recipes">

      <div class="row justify-content-center grid-ingreditents" data-controller='favorite' data-display-recipes-target="recipes">
        <% unless current_user.ingredients.count.zero? %>

          <h2> We gathered some recipes for you based on your fridge! ;-)</h2>

          <% @user_recipes.each do |recipe| %>
            <div class="card col-4 col-sm-8 m-1 fit-content" style="width: 18rem;" data-controller="show-details" data-show-details-target="card">
              <%= image_tag recipe['image'], class: "card-img-top" %>
              <div class="card-body d-flex flex-column">
              <div class="title-recipes-card d-flex  justify-content-center">
                <a href="#" class="card-title"><%= recipe['title'] %></a>
                <span hidden data-show-details-target="id"><%= recipe['id'] %></span>
              </div>


                <div class="favorites-icons d-flex">
                  <p class="card-text">
                    <% if recipe['missedIngredientCount'].zero? %>
                      <%= "all ingredients used" %>
                    <% else %>
                      <%= "missing #{recipe['missedIngredientCount']} ingredients" %>
                    <% end %>
                  </p>
                  <% if user_signed_in? %>
                    <%= link_to favorites_path(recipe: recipe), method: :post,
                                                                remote: true do %>
                      <i class="fas fa-solid fa-heart heart-icon" data-action='click->favorite#save'></i>
                    <% end %>
                  <% else %>
                    <%= link_to new_user_session_path do %>
                      <i class="fas fa-solid fa-heart heart-icon"></i>
                    <% end %>
                  <% end %>
                </div>


                <div class="more-info d-none" data-show-details-target="info">
                </div>
              </div>
            </div>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to user_path(current_user), style: "text-decoration:none; color: #000;" do %>
              <div class="flash flash-success alert alert-dismissible fade show d-none" role="alert" data-favorite-target="alert">
                <span><strong>Saved!</strong> ❤️ You favorite this recipe in your profile page</span>
                <a data-action='click->favorite#close'>
                  <i class="fas fa-times"></i>
                </a>
              </div>
            <% end %>
            <div class="flash flash-warning alert alert-dismissible fade show d-none" role="alert" data-favorite-target="duplicate">
              <span><strong>Mmh</strong> 🤔 seems you've already added this recipe</span>
              <a data-action='click->favorite#close'>
                <i class="fas fa-times"></i>
              </a>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="d-flex row justify-content-center m-3">
      <div class="search-recipes col-6">
        <%= form_tag pages_path, method: :get, class: "d-grid search-recipes", data: { action: "submit->display-recipes#buildQuery", display_recipes_target: "form" }, remote: true  do %>
          <%= text_field_tag :ingredients,
              params[:ingredients],
              class: "form-control",
              type: :hidden,
              data: { display_recipes_target: "input" }%>
          <%= submit_tag "Search recipes", class: "btn  btn-footer-ingredients" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
