<div class="container col-sm-6 col-md-6 col-lg-4 form-container py-2">
  <div class="login">
    <h2>Entrar</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: "E-mail",
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    label: "Senha",
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: "Lembrar", as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Entre", class: "btn-login btn btn-primary" %>
      </div>
    <% end %>

    <div class="p-layout-form">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
